<link rel="stylesheet" href="css/index.css">

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="posts/create" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="Type here...."></textarea>
        <input type="submit" value="Post">
    </form>
</section>


